/* Mobile and Tablet */
@media (max-width: 1023px) {
    .sticky {
        display: none;
    }

    .sticky_top {
        display: none;
    }

    .header {
        display: flex;
        position: fixed;
        /* margin: 10px 0; */
        height: 70px;
        top: 0;
        right: 0%;
        left: 0%;
        z-index: 10;
        background-color: var(--white-color);
    }

    .nav__mobile-btn {
        display: flex;
        padding: 0 5px 0 30px;
    }

    .header_form-btn.btn {
        width: 50px;
    }

    .header__card-wrap {
        margin-right: 20px;
    }


    .header_cart-quantity {
        right: 10px;
    }

    .header__card-list {
        right: 0;
    }

    .header__card-list::after {
        right: 5px;
    }

    .cart_view-right{
        margin-top: 50px;
    }

    footer.footer {
        text-align: center;
    }

    .footer_heading {
        margin: 40px 0 5px 0;
    }

    /* products_detail */
    .sticky_product_title {
        top: 70px;
        /* z-index: 999; */
        margin-top: 70px;
        z-index: 1;
        border: none;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }

    .sticky_product_title p:first-child {
        padding: 0 0 0 10px;
    }


    .silder_img-products {
        flex-direction: column-reverse;
    }

    .imgBox {
        justify-content: center;
    }

    .slider_products-thumb {
        flex-direction: row;
    }

    .slider_products-main {
        width: 70%;
        height: 70%;
    }

    .products_detail-heading {
        padding: 20px 0;
        line-height: 1em;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {


    .header_login-logout {
        display: none;
    }

    .header_cart {
        margin: 0 30px;
    }

    .header_logo {
        display: none;
    }

    .link_none,
    .logo_none {
        display: none;
    }


}

/* Mobile */
@media (max-width: 739px) {
    .header_login-logout {
        display: none;
    }

    .header_logo {
        display: none;
    }

    .link_none,
    .logo_none {
        display: none;
        width: 100px;
        margin: 0 30px 0 10px;
    }

    .header_search {
        display: none;
    }

    /* products_detail */
    .slider_products-main {
        width: 60%;
        height: 60%;
    }
    .products_detail-fixed-heading{
        font-size: 1.4rem;
    }
    /* products */
    .slick__item{
        /* margin: auto; */
    }
    /* .slick__item-content{
        margin: 0 50px 24px 50px;
    } */
    .slick__item-img {
        height: 100%;
    }
    #product_info-section{
        margin-bottom: 145px;
    }
    #product_user-guide-section{
        margin-bottom: 165px;
    
    }
    #product_specification-section{
        margin-bottom: 165px;
    }
    #product_comment-section{
        margin-bottom: 165px;
    }
    
}